@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  outline: none;
  text-decoration: none;
}

:root {
  --black: #222;
  --white: #ffffff9f;
  --hover: rgb(179, 175, 175);
  --border: 1rem solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 0.5rem 1rem rgba(153, 149, 149, 0.5);
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url(../imges/wcloud-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section {
  padding: 0.3rem 15%;
  margin-top: 50px;
}

.header img {
  height: 7rem;
  margin: 0.2rem 150px;
}

.header {
  background: var(--white);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header .navbar a {
  font-size: 2rem;
  margin-left: 2rem;
  color: var(--black);
  transition: 0.5s;
}

.header .navbar a:hover {
  color: var(--hover);
  transition: 0.3s;
}

.header #nav-menu {
  font-size: 3rem;
  display: none;
  cursor: pointer;
}

/* footer {
  text-align: center;
  padding: 10px;
  background: rgba(92, 91, 91, 0.342);
  margin-top: 20px;
  position: relative;
  bottom: 0;
} */

@media (max-width: 1440px) {
  section {
    padding: 0.3rem 12%;
  }
}

@media (max-width: 1024px) {
  section {
    padding: 0.3rem 10%;
  }
}

@media (max-width: 768px) {
  section {
    padding: 0.3rem 5%;
  }
  .header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    background: var(--white);
    border-top: var(--border);
    display: none;
    flex-direction: column;
    box-shadow: var(--box-shadow);
  }
  .header .navbar a {
    display: block;
    margin: 2rem 0;
  }
  .header #nav-menu {
    display: block;
  }
}

@media (max-width: 450px) {
  .header img {
    height: 4rem;
  }
}
