@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  outline: none;
  text-decoration: none;
}

:root {
  --grey: linear-gradient(to right, transparent, rgba(228, 226, 226, 0.932), transparent);
  --nav-grey: linear-gradient(to right, transparent, rgba(136, 133, 133, 0.842), transparent);
  --black: #000000;
  --hover: rgb(216, 215, 215);
  --border: 1rem solid rgba(0, 0, 0, 0.1);
  --box-shadow: 0 0.5rem 1rem #c27923(248, 232, 12, 0.5);
}

html {
  scroll-behavior: smooth;
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  height: 100vh;
  width: 100%;
  background-image: url(../imges/darkgrey-background.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}

section {
  padding: 0.3rem 15%;
  margin-top: 50px;
}

.header img {
  height: 7rem;
  margin: 0.2rem 10px;
}

.header {
  background: linear-gradient(to right, transparent, rgba(228, 226, 226, 0.568), transparent);
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: var(--box-shadow);
  top: 0;
  left: 0;
  right: 0;
  z-index: 100;
}

.header .navbar {
  margin-right: 100px;
}

.header .navbar a {
  font-size: 2.2rem;
  margin-left: 2rem;
  color: var(--black);
  transition: 0.5s;
}

.header .navbar a:hover {
  color: var(--hover);
  transition: 0.3s;
}

.header #menu {
  font-size: 3rem;
  display: none;
  cursor: pointer;
}

.section-home {
  text-align: center;
  margin-top: 100px;
  background: var(--grey);
  border-radius: 10px;
  max-width: 1000px;
  min-height: 200px;
  margin-left: auto;
  margin-right: auto;
  box-shadow: var(--box-shadow);
} 

#home-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#home-content h1 {
  font-size: 4rem;
  margin-bottom: 20px; 
  margin-top: 20px;
}

#home-content img {
  height: 400px;
  width: 1000px;
  margin-top: 10px;
  margin-left: 0;
  border-radius: 10px;

}

.section-about { 
  max-width: 1000px;
  min-height: 500px;
  background: var(--grey);
  box-shadow: var(--box-shadow);
  border-radius: 10px;
  padding: 40px;  
  margin: auto;
  margin-top: 150px;
}

#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}


.section-about h2 {
  font-size: 3rem;
  margin-bottom: 20px;
  margin-top: 20px;
}

.section-about p {
  font-size: 1.8rem;
  line-height: 1.6;
  text-align: justify;
}

.section-about img {
  width: 300px;
  height: 100px;
  margin-top: 70px;

}

.section-projects {
  margin-top: 150px;
}

#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
#projects h2 {
  font-size: 2.3rem;
  margin-bottom: 20px;
  background: var(--grey);
  width: 700px;
  text-align: center;
  padding: 10px 20px;
  border-radius: 10px;
}

#prpjects h3 {
  font-size: 1.8rem;
  margin-bottom: 10px;
}

.project-list {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.project-item {
  width: 700px;
  height: 300px;
  background: var(--grey);
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 1.5rem;
  text-align: center;
  padding: 10px;
  box-shadow: var(--box-shadow);
}
.project-item:hover {
  background: var(--hover);
  transition: 0.3s;
}
.project-item img {
  width: auto;
  height: 70%;
  margin-top: 50px;

}
.project-item a {

  display: flex;
  font-size: 1.5rem;
  color: var(--black);
  text-decoration: underline;
}
.project-item a:hover {
  color: var(--hover);
  transition: 0.3s;
}


#toTopBtn {
  position: fixed;
  bottom: 20px;           
  right: 20px;            
  width: 50px;
  height: 50px;
  background: #333;
  color: white;
  border: none;
  border-radius: 50%;     
  font-size: 24px;
  cursor: pointer;
  display: none;          
  justify-content: center;
  align-items: center;
}

#toTopBtn.show {
  display: flex;
}

footer {
  background: var(--grey);
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 10px;
  box-shadow: var(--box-shadow);
  margin-top: 50px;
}
footer #contact h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
  /* margin-right: 200px; */
}
footer img {
  width: 100px;
  height: auto;
  margin-bottom: 10px;
  margin: 0.2rem 10px;
}
footer #contact p {
  font-size: 1.8rem;
}



@media (max-width: 1440px) {
  section {
    padding: 0.3rem 12%;
  }
}

@media (max-width: 1024px) {
  section {
    padding: 0.3rem 10%;
  }
  #home-content img {
    height: 400px;
    max-width: 900px;
    margin-top: 10px; 
  }
}

@media (max-width: 768px) {
  section {
    padding: 0.33rem 5%;
  }

  .header .navbar {
    position: absolute;
    top: 130px;
    left: 0;
    width: 100%;
    padding: 0 2rem;
    background: rgba(184, 182, 182, 0.792);
    border-top: var(--border);
    box-shadow: var(--box-shadow);
    clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
    transition: 0.5s;
  }

  .header .navbar a {
    display: block;
    margin: 2rem 0;
  }

  .header #menu {
    display: block;
  }

  .header .navbar.active {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
  }
  #home-content img {
    height: 300px;
    max-width: 800px;
    margin-top: 10px; 
  }
    .project-item {
    width: 100%;
    height: auto;
    flex-direction: column;
  }

  .project-item img {
    height: 200px;
    margin-top: 20px;
  }

  #projects h2 {
    width: 100%;
  } 

}

@media (max-width: 600px) {
  #home-content img {
    height: 200px;
    max-width: 100%;
    margin-top: 10px; 
  }
    .project-item {
    width: 100%;
    height: auto;
  }

  .project-item img {
    height: 200px;
    margin-top: 20px;
  }

  #projects h2 {
    width: 100%;
  } 
}

@media (max-width: 400px) {
  .header img {
    height: 5rem;
  }
}
